 @font-face {
    /* font-properties */
    font-family: qingke;
    src:url('方正兰亭黑简.TTF');
}

@font-face {
    /* font-properties */
    font-family: fzlth;
    src:url('方正兰亭超细黑简体.ttf');
}
@font-face {
    /* font-properties */
    font-family: msyh;
    src:url('MicrosoftYaHei.ttf');
}
    *{
      margin: 0;
      padding: 0; 
      font-family: msyh;
    }
  body{
    min-width: 1400px;
  }
    .container{
      width:1200px;
      margin:0 auto;
      padding-left: 0;
      padding-right: 0;
    }

      .footer{
        height: 177px;
        background-color: #27272c;
        text-align: center;
        color: #7c838d;
        font-size: 14px;
        line-height: 177px;
      }
      #main{
            width: 100%;
            background: url(bg2.0.jpeg);
            background-size: cover;
            overflow: hidden;
        }
		
       .welcomeTxt{
          text-align: center;
       }
        h1,h2,h4{
          line-height: 1;
        }
       .welcomeTxt h1{
          font-size: 46px;
          color: #fff;
          margin-top: 110px;
          margin-bottom: 15px;
          letter-spacing: 8px;
       }
       .welcomeTxt h4,.modal-body h4{
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 25px;
       }
       .welcomeTxt h4,.welcomeTxt h2{
        color: #b1b1b4;
       }
       .welcomeTxt h2,.modal-body h2{
        margin: 0;
        font-family: fzlth;
        font-size: 47px;
    }
       .modal-body h1{
        margin-top: 95px;
        margin-bottom: 22px;
        letter-spacing: 11px;
        color: #292933;
       }
       .modal-body h4{
        margin-bottom: 20px;
        color: #97979a;
       }
       .modal-body h2{
        color: #76767b;
       }
       .modal-body{
        color: #000;
        text-align: center;
        padding-bottom: 36px;
      }
      .modal-body p{
        margin: 30px 0;
        font-weight: lighter;
        color: #292933;
      }
      .form-group{
        width: 580px;
        margin: 0 auto;
        margin-bottom: 13px;
      }
      .form-group label{
        height: 48px;
        line-height: 48px;
        font-size: 22px;
        font-weight: 100;
        color: #292933;
      }
      .form-group .control-label{
        text-align: right;
      }
      .jiaru,#modal-tj{
        color: #fff;
        background-color: #4a4d5e;
        border:none; 
      }
      .jiaru{
        margin-top: 84px;
            padding: 10px 50px;
            width: 200px;
            height: 52px;
            font-size: 14px;
      }
      .wrap{
        text-align: center;
        font-family: fzlth;
      }
      .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
          outline: none;
      } 
      .jiaru.focus, .jiaru:focus, .jiaru:hover {
          color: #fff;
          text-decoration: none;
      }      .btn{
            box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      #modal-gb{
        background-color: #fff;
      }
      .modal-footer .btn{
        width: 200px;
        height: 50px;
      }
      #modal-gb{
        margin-right: 77px;
      }
      .modal-footer {
    padding: 40px;
    text-align: center;
}
.form-control{
  height: 48px;
}
.form-group:after{
  content: '';
  display: table;
  clear: both;
}

.modal-body p{
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 0;
}
.modal-dialog {
  width: 1200px;
  height: 580px;
  margin-top: 170px;
}
.modal-footer {
    padding: 36px 0 115px 0;
    border: none;
}
.modalTxt{
  margin-top: 56px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .modal-footer .btn{
        width: 115px;
      }
}
.nav{
  background-color: #101114;
}
.logo{
  float: left;

}
.logo img{
  height: 100%;
}
.nav-list{
  float: right;
  margin-right: -33px;
}
.nav-list:after{
  content: '';
  display: table;
  clear: both;
}
.nav-list li{
    float: left;
    list-style: none;
    font-family: qingke;
    margin-right: 33px;
    min-width: 70px;
    text-align: center;
}
.nav-list a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-top: 3px solid #101114;
}
.nav-list a:hover{
  border-top: 3px solid #fff;
}
#showE{
  margin-top: 182px;
  margin-bottom: 170px;
  opacity: 0;
  transition: opacity 2s;
}
#showE li{
  width: 390px;
  margin-right: 15px;
  height: 525px;
  float: left;
  background-color: #fff;
  list-style: none;
  text-align: center;
  box-shadow: 0 37px 64px rgba(0,0,0,0.3);
}
#showE li img{
  margin-top: 70px;
  height: 70px;
}
#showE ul:after{
  content: '';
  display: table;
  clear: both;
}
