@font-face {
    /* font-properties */
    font-family: qingke;
    src:url('方正清刻本悦宋简体.ttf');
}
*{
	margin: 0;
	padding: 0;
	font-family: qingke,Helvetica,Arial,sans-serif;
}
.line{
	border: 2px solid #000;
	border-radius: 2px;
	width: 72%;
	margin-left: 13%;
	transition: margin-left 1s;
	transition-delay: 3s;
}
#lineTop{
	margin-left: 150%;
}
#lineBottom{
	margin-left: -150%;
}
.maskB{
	width: 0;
	height: 0;
    top: 50%;
    left: 50%;
	background-color: #ccc;
	position: absolute;
	opacity: .3;
	transition: all 1s;
}
.maskS{
	width: 100%;
    height: 100%;
    top: 150%;
	background-color: #ccc;
	position: absolute;
	transition: all 1s;
	opacity: 0;
	transition-delay: 4s;
}
.section1{
	background: url(page1Bg.jpg) no-repeat;
	background-size: cover;
}
#page1Txt p{
	position: relative;
}
#page1Txt .firstP{
	left: 85%;
	transition-delay: 5s;
}
#page1Txt .secondP{
	right: 110%;
	transition-delay: 6s;
}
.section2,.section3,.section4,.section5{
	background: url(chayeWL.jpg) no-repeat;
	background-size: cover;
}
.section1 .container{
	position: relative;
	z-index: 2;
}
.section1 #headLogo{
	padding: 25%;
}
.section1 h3{
	width: 97%;
	padding: 3%;
    text-align: center;
    font-size: 50px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 2s;
}
#page1Info{
	position: relative;
	margin-top: 10%;
}
#page1Info #page1Txt{
	padding: 13%;
	text-align: center;
	line-height: 2;
	position: relative;
    z-index: 2;
    font-size: 19px;
}

.arrow{
	position: absolute;
	bottom: 3%;
	left: 43%;
	opacity: 0;
	transition: 1s;
}
.arrow img{
	width: 50px;
}
.section2{
	position: relative;
}
.section2 img{
	position: relative;
	transition-delay: .5s;
	transition: all 1s;
}
.page2Top img{
	left: 100%;
}
.page2Bottom img{
	right: 100%;
}
.page2Top,.page2Bottom{
	position: absolute;
}
.page2Top img,.page2Bottom img{
	width: 100%;
}
.page2Top{
	position: absolute;
	top: 0;
}
.page2Bottom{
	position: absolute;
	bottom: -5px;
}
.page2Middle{
	position: absolute;
    top: 30%;
    line-height: 2;
    left: 30%;
}
.page2Middle h3{
	 position: relative;
    top: 87px;
    width: 1px;
    left: -50px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
}
.page2Middle p{
	position: relative;
	left: 155%;
	transition: left 1s;
    transition-delay: 1.5s;
}
.section3 .page3Info{
	position: relative;
    height: 20%;
    padding: 11%;
    padding-left: 13%;	
    opacity: 0;
    transition: opacity 1s;
}
.section3 .page3Info img{
	height: 80%;
    position: absolute;
    right: -50%;
    top: 10%;
    transition: right 1s;
}
.section3 .page3Info p{
	width: 1px;
}
.section3 .page3Info .nextP{
	position: relative;
	left: 10%;
}
.section3 .page3Info .chaheP{
	top: -61%;
}
.section3 .page3Info .chabaoP{
	top: -46%;
}
.section3 .page3Info .hongchaP{
	top: -77%;
}
.section4 #login-area{
	    position: relative;
    top: 20%;
    left: 10%;
}
.section4 #btnLogin{
	font-size: 20px;
}
#close{ 
	background: url(close.png) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 17px;
    top: 2px;
    text-indent: -999px;
 	}
#mask{ 
	background-color:#ccc;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000;
	    width: 100%;
    height: 100%;
	}
#login{ 
    z-index: 1001;
    background: url(loginBg.png) no-repeat;
    position: relative;
    width: 90%;
    height: 64%;
    top: 9%;
	}
#login-area a{
	text-decoration: none;
	color: #000;
}
.walk{
	width: 60px;
	height: 100px;
	overflow: hidden;
	position: absolute;
    bottom: 10%;
    right: 10%;
    background:url(walk.jpg);
}
@keyframes walk{
    0% {background-position: -240px 0;}
    20% {background-position: -180px 0;}
    40% {background-position: -120px 0;}
    60% {background-position: -60px 0;}
    80% {background-position: 0 0;}
    100% {background-position: -240px 0;}
}